<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="YAMS.Properties.Settings.YAMS_dbConnectionString"
            connectionString="Data Source=|DataDirectory|\YAMS-db.sdf"
            providerName="Microsoft.SqlServerCe.Client.4.0" />
    </connectionStrings>
</configuration>